@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(150deg, #7C44C2 0%, #7C44C2 48.55%, rgba(76, 48, 29, 0.20) 181.77%);
    gap: 30px;
    color: #fff;
}

.ContatoContainerGeral {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ContatoContainerGeral a {
    text-decoration: none;
    color: white;
}

.ContactContainerZapMail {
    display: flex;
    flex-direction: row;

    padding: 16px;

    gap: 80px;
}

.ZapMailContainer {
    background: #562E89 !important;
    font-size: 10px;
    text-align: center;
    border-radius: 32px;

    padding: 1rem;

}

.ZapMailValue {
    margin: 1rem;
    font-size: 8px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.SugestionBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 648px;
    box-sizing: border-box;
    padding: 1rem;

    border-radius: 8px;
    background: #562E89 !important;
}

.sugestiontop {
    align-self: center;
}

.sugest-center-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.InputNome,
.InputEmail,
.InputSugest {
    width: 100% !important;
    max-width: 100%;
    box-sizing: border-box;
    height: auto;
    min-height: 26px;

    border-radius: 32px;
    border: 2px solid #878787;
    color: black;
}

.InputSugest {
    resize: none;
    min-height: 138px;
    max-height: 138px;
    border-radius: 8px;
    justify-items: normal;
}

.success-box-hidden {
    display: none !important;
}

.SugestionBox .sugest-center-div-success {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    min-height: 248px; 
}

.ButtonSugestionEnviar {
    margin-top: 10px;
    align-self: center;

    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 130px;
    height: 30px;
    border: 0;
    border-radius: 16px;
    background: #FFE44D;

    cursor: pointer; 
    transition: background 0.1s ease, color 0.1s ease;
}

.ButtonSugestionEnviar:hover {
    transition: .1s;
    margin-top: 10px;
    align-self: center;

    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 130px;
    height: 30px;
    border: 0;
    border-radius: 16px;
    background: #FF8F3F;
}


/* Mobile */
@media (max-width: 900px) {
    .ContactContainerZapMail {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .SugestionBox {
        width: 90%;
        max-width: 313px;
        margin-top: 20px;
    }

    .InputNome,
    .InputEmail,
    .InputSugest {
        width: 100%;
        box-sizing: border-box;

    }
}